body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav yapıısı */

/* #baslik{
} */
#baslik ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.5s;
}
#baslik ul li{
    padding: 5px;
    
}
#baslik ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
/* #baslik ul li a:hover{
    color: #000;
    background-color: rgb(241, 238, 238);
    border: 1px solid black;
    padding: 7px;
    border-radius: 4px;
    font-size: 22px;
    
} */

#namelogo{
    font-size: 33px;
}

/* main yapıısı */

#hakkimizda{
    
    position: relative;
    min-height: 100vh;
    background: url(assets/images/arkahak.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    margin-left: 80px;
    width: 800px;
}
h1{
    font-size: 50px;
    color: #fff;
}
.container p {
    font-size: 21px;
    color: #fff;
}
#logohak{
    width: 210px;
}

#ss{
    width: 100%;
}

#content{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#content h2{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

#content img{
    width: 100px;
}
#contimg{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contentin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentext{
    font-size: 15px;
    width: 220px;
    text-align: center;
}

#mobile{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#6b8494;
    
}
.arayazi{
    width: 700px;
    font-size: 22px;
    margin: 0 100px 0 0;
    color: #DDD;
}


#kapanis{
    height: 300px;
    background-color: rgb(221, 219, 215);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#kapanis p{
    width: 700px;
    font-size: 18px;
}
#kapanis h2{
    font-size: 45px;
}
/* .imgkap{
    
} */
.imgkap ul{
    list-style: none;
    
}
.imgkap ul li img{
    width: 60px;
    margin: 5px;
}


/* footer yapıısı */
#foot{
    background-color: rgb(240, 239, 238);
    /* padding: 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .footicon{
    padding-left: 50px;
}
.fab{
    padding-left: 5px;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}
.fab:hover{
    color: rgb(230, 222, 222);
} */





@media screen and (max-width:1110px) {
    body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    /* nav yapıısı */
    
    /* #baslik{
    } */
    #baslik ul {
        display: flex;
        list-style: none;
        align-items:center;
    }
    #baslik ul li{
        padding: 5px;
    }
    #baslik ul li a{
        text-decoration: none;
        color: #000;
        /* border: 1px solid black;
        padding: 7px;
        border-radius: 4px; */
        font-size: 20px;
        transition: 0.7s;
    }
    #baslik ul li a:hover{
        color: #000;
        background-color: rgb(241, 238, 238);
        border: 1px solid black;
        padding: 7px;
        border-radius: 4px;
        font-size: 22px;
        
    }
    
    #namelogo{
        font-size: 33px;
    }
    
    /* main yapıısı */
    
    #hakkimizda{
        height: auto;
        background-color: #475b92;
        /* margin-top: 80px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container{
        width: auto;
    }
    h1{
        font-size: 50px;
        color: #fff;
        text-align: center;
    }
    .container p {
        font-size: 21px;
        color: #fff;
        text-align: center;
    }
    #logohak{
        display:none;
    }
    
    
    
    #content{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #content h2{
        text-align: center;
        margin-top: 50px;
        font-size: 40px;
        text-align: center;
    }
    
    #content img{
        width: 100px;
    }
    #contimg{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .contentin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contentext{
        font-size: 15px;
        width: 220px;
        text-align: center;
    }
    
    
    
    
    #kapanis{
        height: auto;
        background-color: rgb(221, 219, 215);
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #kapanis p{
        width: auto;
        font-size: 18px;
        text-align: center;
    }
    #kapanis h2{
        font-size: 45px;
        text-align: center;
    }
    .imgkap ul{
        list-style: none;
        
    }
    .imgkap ul li img{
        width: 60px;
        margin: 5px;
    }
    
    
    /* footer yapıısı */
    #foot{
        background-color: rgb(240, 239, 238);
        /* padding: 1px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:450px) {
    body{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    /* nav yapıısı */
    
    /* #baslik{
    } */
    #baslik ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items:center;
    }
    #baslik ul li{
        padding: 5px;
    }
    #baslik ul li a{
        text-decoration: none;
        color: #000;
        /* border: 1px solid black;
        padding: 7px;
        border-radius: 4px; */
        font-size: 20px;
        transition: 0.7s;
    }
    #baslik ul li a:hover{
        color: #000;
        background-color: rgb(241, 238, 238);
        border: 1px solid black;
        padding: 7px;
        border-radius: 4px;
        font-size: 22px;
        
    }
    
    #namelogo{
        font-size: 33px;
    }
    
    /* main yapıısı */
    
    #hakkimizda{
        height: auto;
        background-color: #5366b3;
        /* margin-top: 80px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container{
        width: auto;
    }
    h1{
        font-size: 50px;
        color: #fff;
        text-align: center;
    }
    .container p {
        font-size: 21px;
        color: #fff;
        text-align: center;
    }
    #logohak{
        display:none;
    }
    
    
    
    #content{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #content h2{
        text-align: center;
        margin-top: 50px;
        font-size: 40px;
        text-align: center;
    }
    
    #content img{
        width: 100px;
    }
    #contimg{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .contentin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contentext{
        font-size: 15px;
        width: 220px;
        text-align: center;
    }
    
    
    
    
    #kapanis{
        height: auto;
        background-color: rgb(221, 219, 215);
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #kapanis p{
        width: auto;
        font-size: 18px;
        text-align: center;
    }
    #kapanis h2{
        font-size: 45px;
        text-align: center;
    }
    .imgkap ul{
        list-style: none;
        
    }
    .imgkap ul li img{
        width: 60px;
        margin: 5px;
    }
    
    
    /* footer yapıısı */
    #foot{
        background-color: rgb(240, 239, 238);
        /* padding: 1px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}